:root {
    --border: 1px solid black;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

.calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    height: 600px;
    background-color: grey;
    border: var(--border);
    border-radius: 10px;
    padding-top: 20px;
}

.view {
    width: 360px;
    height: 100px;
    background-color: white;
    border: var(--border);
    border-radius: 10px;
    margin-bottom: 20px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.buttons {

    font-size: 22px;
    width: 80px;
    height: 80px;
    border: var(--border);
    border-radius: 10px;
}

.super {
    grid-column: 3 / 5;
    width: 170px;
}